
 <div class="container">
        <div class="navbar navbar-default">
	<div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              </button>
              <a class="navbar-brand" href="#">ebopi</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

                <li class="active"><a href="#">Homer</a></li>
                <li><a href="#about">Saiba Mais</a></li>
              </ul>


<div class="navbar-collapse navbar-right">
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_facebook_follow" addthis:userid="ebopi"></a>
<a class="addthis_button_linkedin_follow" addthis:userid="ebopi"></a>
</div>
</div>
</div>

</div>
</div>
