
<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>ebopi | Agencia Digital</h1>
        <p class="lead">Manter os atuais clientes e conquistar novos</p>
        <p><a class="btn btn-lg btn-info" href="#" role="button">Comece hoje :)</a></p>
</div>
<div class="container" id="mkt">
<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/240x240" >
          <h2>Heading</h2>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>



<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/240x240" >
          <h2>Heading</h2>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>


</div>

<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/240x240" >
          <h2>Heading</h2>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>


</div>


</div>
