html, body {
  height: 100%;

}



.jumbotron { 
padding:96px ;
background: url('../images/triangular.png');

background-size:auto 44px no-repeat;

}

 @media (min-width: 980px) { 
        body {
         padding-top: 10px;
        }
       .linediv-l {
         border-right: 1px white solid;
        }
       .linediv-r {
         border-left: 1px white solid;
       }
      }

      /* Landscape phones and down */
      @media (max-width: 480px) { 
       .copy {
         padding: 2.5% 10%;
       }
       .linediv-l {
         border-bottom: 1px white solid;
       }
       .linediv-r {
         border-top: 1px white solid;
       }
      }




#mkt{
        text-align:center;
        padding-top:90px;

}


#footer{
	background: url('../images/footer.png');
	text-align:center;}
